<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Materias</title>
</head>

<body>
    
    <h1>Consulta de Materias</h1>

    <form action="/Materias" method="POST">

        <input type="text" name="Ciclo escolar" id="Ciclo escolar" placeholder="Ciclo escolar">
        <input type="text" name="Semestre" id="Semestre" placeholder="Semestre">
        <input type="text" name="Carrera" id="Carrera" placeholder="Carrera">

        
        <button type="submit"> Continuar</button>

    </form>
    
</body>

</html>